.Forecast {
  text-align: center;
}

.Forecast .Weekday h3 {
  font-size: 24px;
}

.Forecast .Weekday p {
  font-size: 16px;
}

.Forecast .WeatherIcon img {
  margin: 0;
  width: 50px;
}

.Forecast .temp-max {
  border-bottom: solid 2px #00000075;
  margin-top: 20px;
}

.Forecast .temp-min {
  opacity: 0.7;
}
